<div id="footer_top">
  <div id="footer_navigation">
  

  </div>
  
  <div id="footer_copyright" >
 
    	   <br>
		    <p>For any help, please reach out to our customer care on number 111-111-11111 or email us at customercare@globalbank.com</p>
	  
  Copyright © Global Bank</div>
</div>
